.input-1{
    margin-top: 30px;
}
.btn-1{
    margin-top: 10px;
    margin-left: 500px;
}
.my-custom-scrollbar {
    position: relative;
    max-height: 700px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}